body {
	font-family: 'Roboto', serif;
	background-color: #F0F0F0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a:link {
	display: block;
	width: 120px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #C8C8C8
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}