body {
	font-family: 'Roboto', serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

a:link {
	display: block;
	width: 120px;
	font-weight: bold;
	color: #66CCCC;
	background: #00FF99;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}
a:visited {
	color: #780000
}