<div class="row container">
  <div class="col s12 center-align">
    <h4>Education</h4>
  </div>
</div>

<div class="row container">
  <div class="col s6">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="imgs/banner_identity02.png" alt="California State University Northridge Logo">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">CSUN<i class="material-icons right">more_vert</i></span>
        <p><a class="indigo-text" href="http://www.csun.edu/">Visit CSUN</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">CSUN<i class="material-icons right">close</i></span>
        <p>
          Located in the heart of the San Fernando Valley, California State University, Northridge is home of the Matadors.
        </p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>Bachelor of Science, Computer Science</strong></span>
        <br>
        <small>
          August 2013 - May 2016
        </small>
        <p>
          Completed my Degree in Computer Science
        </p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row container">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>General Education</strong></span>
        <br>
        <small>
          August 2005 - May 2013
        </small>
        <p>
          Completed my General Education where I focused on Mathematics and Computer Science
        </p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="imgs/gcc_logo_red.png" alt="Glendale Community College Logo">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Glendale Community College<i class="material-icons right">more_vert</i></span>
        <p><a class="indigo-text" href="http://www.glendale.edu">Visit GCC</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Glendale Community College<i class="material-icons right">close</i></span>
        <p>
           A beautiful campus, nestled in the hillside overlooking Glendale
        </p>
      </div>
    </div>
  </div>
</div>
