<div class="row container">
  <div class="col s12 center-align">
    <h4>Work Experience</h4>
  </div>
</div>

<div class="row container">
  <div class="col s6">
    <div class="card">
      <div class="card-content">

        <span class="card-title"><strong>Developer and Quality Assurance</strong></span>
        <br>
        <small>
          Late June 2016 - Present
        </small>
        <p>In charge of building the sustaining team, as well as develop the development workflow for all of META+Lab</p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ site.baseurl }}/imgs/meta+lab.png" alt="Meta Lab image">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">META+Lab<i class="material-icons right">more_vert</i></span>
        <p><a class="indigo-text" href="http://www.metalab.csun.edu">Visit META+Lab</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">META+Lab<i class="material-icons right">close</i></span>
        <p>An academic unit start-up enviroment provided by CSUN where students are encouraged to experiment, learn and collaborate.</p>
      </div>
    </div>
  </div>
</div>
