<br>
<footer class="page-footer indigo lighten-2">
  <div class="row container">
    <div class="col s12 center-align">
      <a class="white-text" href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      </a>
      <a class="white-text" href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      </a>
      <a class="white-text" href="mailto:{{ site.email }}">
        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="footer-copyright center-align">
    <span class="white-text">
      &copy; {{ site.title }} 2016
    </span>
  </div>
</footer>
