<footer class="site-footer">
  <div class="wrap">
    <div class="footer-col-1 column">
      <ul>
        <li>
            <span class="username">© 2014</span>
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>  
        <li>
          <a href="mailto:{{ site.email }}">
            <span class="username">Email</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <ul>
        <li>
          <a href="https://github.com/{{ site.username }}">
            <span class="username">Github</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-4 column">
      <ul>
        <li>
            <a href="https://twitter.com/{{ site.username }}">
              <span class="username">Twitter</span>
            </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-5 column">
      <ul>
        <li>
            <a href="https://instagram.com/{{ site.username }}rr" >
              <span class="username">Instagram</span>
            </a>
        </li>
      </ul>
    </div>
</footer>