<div class="row container">
  <div class="col s12 center-align">
    <h4>Work Experience</h4>
  </div>
</div>

<div class="row container">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>Developer and Quality Assurance</strong></span>
        <br>
        <small>
          Late June 2016 - Present
        </small>
        <p>In charge of building the sustaining team, as well as develop the development workflow for all of META+Lab</p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="imgs/meta+lab.png" alt="Meta Lab image">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">META+Lab<i class="material-icons right">more_vert</i></span>
        <p><a class="indigo-text" href="http://www.metalab.csun.edu">Visit META+Lab</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">META+Lab<i class="material-icons right">close</i></span>
        <p>An academic unit start-up enviroment provided by CSUN where students are encouraged to experiment, learn and collaborate.</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row container">
  <div class="col s12 center-align">
    <h4>Android projects worked on</h4>
  </div>
</div>

<div class="row container">
  <div class="col s6">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="imgs/smartmirror.png" alt="Smart Mirror image">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">SmartMirror<i class="material-icons right">more_vert</i></span>
        <p><a class="indigo-text" href="https://github.com/omgshirt/smartmirror">Visit SmartMirror</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">SmartMirror<i class="material-icons right">close</i></span>
        <p class="indigo-text">
          An information appliance using an Android tablet as the brains of the operation.
        </p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>Scrum Master & Developer</strong></span>
        <br>
        <small>
          October 2015 - May 2016
        </small>
        <p>
          An 8 month project that was made for my Senior Design class in which I was Scrum Master, developer and in charge of the git repository.
        </p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row container">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>Programming & Video Editor</strong></span>
        <br>
        <small>
          February 2015
        </small>
        <p>
          Implemented some Material Design aspects to the user interface, tweaked the functionality for the font assets, as well as create the promotional YouTube video.
        </p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="imgs/beard.png" alt="Zooper by Beard image">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Zooper Widgets by BEARD<i class="material-icons right">more_vert</i></span>
        <p><a class="indigo-text" href="http://www.youtube.com/watch?v=NcPaEqkYqsg">Visit Zooper by Beard</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Zooper Widgets by BEARD<i class="material-icons right">close</i></span>
        <p>
          An application with widgets that are applied through Zooper Widget Pro.
        </p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row container">
  <div class="col s6">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="imgs/adw.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">ADW.Launcher / ADW.Launcher EX<i class="material-icons right">more_vert</i></span>
        <p><a class="indigo-text" href="http://adwthings.com/launcher/">Visit ADW.Launcher</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">ADW.Launcher / ADW.Launcher EX<i class="material-icons right">close</i></span>
        <p>
          A pair of home replacement applications for Android devices by AnderWeb.
        </p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>Video Editor & Consulting</strong></span>
        <br>
        <small>
          August 2012 - January 2013
        </small>
        <p>
          In charge of editing and filming the promotional video of the application,
          gave creative input for the user interface as well as help motivate a more
          standardized theme mechanism for the application.
        </p>
      </div>
    </div>
  </div>
</div>
