<div class="row container">
  <div class="col s12 center-align">
    <h4>Skills</h4>
  </div>
</div>

<div class="row container">
  <div class="col s4 center-align z-depth-1 white">
    <h2><span class="devicons devicons-laravel"> </span></h2>
    <p>
      70%
    </p>
    <div class="progress indigo lighten-4">
      <div class="determinate indigo" style="width: 70%"></div>
  </div>
  </div>
  <div class="col s4 center-align z-depth-1 white">
    <h2><span class="devicons devicons-css3"> </span></h2>
    <p>
      50%
    </p>
    <div class="progress indigo lighten-4">
      <div class="determinate indigo" style="width: 50%"></div>
  </div>
  </div>
  <div class="col s4 center-align z-depth-1 white">
    <h2><span class="devicons devicons-html5"> </span></h2>
    <p>
      50%
    </p>
    <div class="progress indigo lighten-4">
      <div class="determinate indigo" style="width: 50%"></div>
  </div>
  </div>
</div>

<div class="row container">
  <div class="col s4 center-align z-depth-1 white">
    <h2><span class="devicons devicons-java"> </span></h2>
    <p>
      65%
    </p>
    <div class="progress indigo lighten-4">
      <div class="determinate indigo" style="width: 65%"></div>
    </div>
  </div>
  <div class="col s4 center-align z-depth-1 white">
    <h2><span class="devicons devicons-mysql"> </span></h2>
    <p>
      60%
    </p>
    <div class="progress indigo lighten-4">
      <div class="determinate indigo" style="width: 60%"></div>
    </div>
  </div>
  <div class="col s4 center-align z-depth-1 white">
    <h2><span class="devicons devicons-php"> </span></h2>
    <p>
      60%
    </p>
    <div class="progress indigo lighten-4">
      <div class="determinate indigo" style="width: 60%"></div>
    </div>
  </div>
</div>

<div class="row container">
  <div class="col s4 center-align z-depth-1 white">
    <h2><span class="devicons devicons-android"> </span></h2>
    <p>
      60%
    </p>
    <div class="progress indigo lighten-4">
      <div class="determinate indigo" style="width: 60%"></div>
    </div>
  </div>
  <div class="col s4 center-align z-depth-1 white">
    <h2><span class="devicons devicons-linux"> </span></h2>
    <p>
      65%
    </p>
    <div class="progress indigo lighten-4">
      <div class="determinate indigo" style="width: 65%"></div>
    </div>
  </div>
  <div class="col s4 center-align z-depth-1 white">
    <h2><span class="devicons devicons-ubuntu"> </span></h2>
    <p>
      70%
    </p>
    <div class="progress indigo lighten-4">
      <div class="determinate indigo" style="width: 70%"></div>
    </div>
  </div>
</div>
