<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="grey lighten-3">
    {% include header.html %}
    <main aria-label="Content">
      <div class="row container">
        <div class="col s12 center-align">
          <h4>{{ page.title }}</h4>
        </div>
      </div>
      <div class="row container">
        <div class="card-panel">
          {{ content }}
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
  {% include scripts.html %}
</html>
